@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}


   .menu li{
    display: inline-block;
    align-items: center;       
 } 

header .menu a{
    color: #1F1534;
    padding: 8px 17px;
    align-items: center;
   
}
.topo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 191px;
    margin-right: 185px;
    padding-top: 62px;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
}

.trafalgar{
    display: flex;
    justify-content: center;
 
}


section{
    display: flex;
    padding-left: 191px;
    padding-right: 185px;
    

    
}
.imagem1{
    width: 693px;
    height: 598px;
    padding-top: 84px;
    padding-right: 744px;
}






